body{
	font-size: 16px;
	color:#fff;
	font-family: 'Oxygen', sans-serif;
}

/*HEADER*/
#header-nav{
	background-color: #999999;
	border-radius: 0;
	border:0;
	border: 1px solid black;
}


.navbar-brand{
	padding-top: 10px;
}

.navbar-brand h1{ /*Resturant  name*/
	font-family: 'Lora' serif;
	color:#000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;/*horizontal  vertical  blur  color*/
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;/*remove the underline on focus and hover*/
}

#nav-list{
	margin-top: 0px;
	background-color: #fff;
	margin-bottom: -10px;
	padding-bottom: 10px;
	overflow-y: hidden;

}

#nav-list hr{
	color: #000;
	margin: 0 10px 0 10px;
}


#nav-list a{
	color:#000;
	text-align: center;
	font-weight: bold;

}

#nav-list a:hover{
	background:#E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #000;
}


.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}

#title{
	margin-bottom: 30px;
	color: #000;
	font-weight: bold;
}

.tile{
	border: 1px solid black;
	color:#000;
	background-color: #999999;
	padding: 0 10px 0 10px;
	
}

.tile h3{
	font-weight: bold;
}


